In [1]:
import numpy as np
import pandas as pd

In [2]:
# Reading data
df_travel = pd.read_csv("problem_1_traveler_raw.csv")
df_travel.head()

,PNR,origination_city,destination_city,orig_city_cd,dest_city_cd,origination_lat,origination_lon,destination_lat,destination_lon,fl_grfare_usd_am,fl_valid_id,fl_mile_ct,fl_cost_per_mile_usd_am,carry_a2_cd,fl_no,seg_arr_local_time,seg_dprt_local_time,seg_arr_utc_time,seg_dprt_utc_time
0,921597,PHX,MIA,PHX,MIA,33.435036,-112.000164,25.796000,-80.278234,550.95,1,1981,0.27,AA,772,5/14/2018 16:33,5/14/2018 9:03,5/14/2018 23:33,5/14/2018 14:03
1,921597,MIA,PUJ,MIA,PUJ,25.796000,-80.278234,18.562477,-68.363998,252.80,1,909,0.27,AA,2593,5/14/2018 21:23,5/14/2018 19:00,5/15/2018 2:23,5/14/2018 23:00
2,921597,PUJ,MIA,PUJ,MIA,18.562477,-68.363998,25.796000,-80.278234,252.81,1,909,0.27,AA,1317,5/18/2018 9:41,5/18/2018 7:00,5/18/2018 13:41,5/18/2018 12:00
3,921597,MIA,PHX,MIA,PHX,25.796000,-80.278234,33.435036,-112.000164,550.95,1,1981,0.27,AA,272,5/18/2018 15:59,5/18/2018 13:55,5/18/2018 20:59,5/18/2018 20:55
4,492751,PHX,SAN,PHX,SAN,33.435036,-112.000164,32.731938,-117.197312,249.44,1,302,0.82,AA,465,2/5/2018 8:52,2/5/2018 8:35,2/5/2018 15:52,2/5/2018 16:35

In [3]:
df_travel.head().T

,0,1,2,3,4
PNR,921597,921597,921597,921597,492751
origination_city,PHX,MIA,PUJ,MIA,PHX
destination_city,MIA,PUJ,MIA,PHX,SAN
orig_city_cd,PHX,MIA,PUJ,MIA,PHX
dest_city_cd,MIA,PUJ,MIA,PHX,SAN
origination_lat,33.435036,25.796,18.562477,25.796,33.435036
origination_lon,-112.000164,-80.278234,-68.363998,-80.278234,-112.000164
destination_lat,25.796,18.562477,25.796,33.435036,32.731938
destination_lon,-80.278234,-68.363998,-80.278234,-112.000164,-117.197312
fl_grfare_usd_am,550.95,252.8,252.81,550.95,249.44
fl_valid_id,1,1,1,1,1
fl_mile_ct,1981,909,909,1981,302
fl_cost_per_mile_usd_am,0.27,0.27,0.27,0.27,0.82
carry_a2_cd,AA,AA,AA,AA,AA
fl_no,772,2593,1317,272,465
seg_arr_local_time,5/14/2018 16:33,5/14/2018 21:23,5/18/2018 9:41,5/18/2018 15:59,2/5/2018 8:52
seg_dprt_local_time,5/14/2018 9:03,5/14/2018 19:00,5/18/2018 7:00,5/18/2018 13:55,2/5/2018 8:35
seg_arr_utc_time,5/14/2018 23:33,5/15/2018 2:23,5/18/2018 13:41,5/18/2018 20:59,2/5/2018 15:52
seg_dprt_utc_time,5/14/2018 14:03,5/14/2018 23:00,5/18/2018 12:00,5/18/2018 20:55,2/5/2018 16:35

In [4]:
df_travel.columns

Index(['PNR', 'origination_city', 'destination_city', 'orig_city_cd',
       'dest_city_cd', 'origination_lat', 'origination_lon', 'destination_lat',
       'destination_lon', 'fl_grfare_usd_am', 'fl_valid_id', 'fl_mile_ct',
       'fl_cost_per_mile_usd_am', 'carry_a2_cd', 'fl_no', 'seg_arr_local_time',
       'seg_dprt_local_time', 'seg_arr_utc_time', 'seg_dprt_utc_time'],
      dtype='object')

In [5]:
date_fields = [i for i in df_travel.columns if 'time' in i.lower()]
date_fields

['seg_arr_local_time',
 'seg_dprt_local_time',
 'seg_arr_utc_time',
 'seg_dprt_utc_time']

In [6]:
# Convert date fields to datetime dtype
for col in date_fields:
    df_travel[col] = pd.to_datetime(df_travel[col])
df_travel['trip_time'] = (df_travel.seg_dprt_utc_time - df_travel.seg_arr_utc_time).dt.seconds
df_travel.head().T

,0,1,2,3,4
PNR,921597,921597,921597,921597,492751
origination_city,PHX,MIA,PUJ,MIA,PHX
destination_city,MIA,PUJ,MIA,PHX,SAN
orig_city_cd,PHX,MIA,PUJ,MIA,PHX
dest_city_cd,MIA,PUJ,MIA,PHX,SAN
origination_lat,33.435036,25.796,18.562477,25.796,33.435036
origination_lon,-112.000164,-80.278234,-68.363998,-80.278234,-112.000164
destination_lat,25.796,18.562477,25.796,33.435036,32.731938
destination_lon,-80.278234,-68.363998,-80.278234,-112.000164,-117.197312
fl_grfare_usd_am,550.95,252.8,252.81,550.95,249.44
fl_valid_id,1,1,1,1,1
fl_mile_ct,1981,909,909,1981,302
fl_cost_per_mile_usd_am,0.27,0.27,0.27,0.27,0.82
carry_a2_cd,AA,AA,AA,AA,AA
fl_no,772,2593,1317,272,465
seg_arr_local_time,2018-05-14 16:33:00,2018-05-14 21:23:00,2018-05-18 09:41:00,2018-05-18 15:59:00,2018-02-05 08:52:00
seg_dprt_local_time,2018-05-14 09:03:00,2018-05-14 19:00:00,2018-05-18 07:00:00,2018-05-18 13:55:00,2018-02-05 08:35:00
seg_arr_utc_time,2018-05-14 23:33:00,2018-05-15 02:23:00,2018-05-18 13:41:00,2018-05-18 20:59:00,2018-02-05 15:52:00
seg_dprt_utc_time,2018-05-14 14:03:00,2018-05-14 23:00:00,2018-05-18 12:00:00,2018-05-18 20:55:00,2018-02-05 16:35:00
trip_time,52200,74220,80340,86160,2580

In [7]:
(df_travel.seg_dprt_utc_time - df_travel.seg_arr_utc_time).dt.seconds

0      52200
1      74220
2      80340
3      86160
4       2580
       ...
129    83940
130    51660
131    69120
132    51660
133    69120
Length: 134, dtype: int64

In [8]:
print(df_travel.shape), 
print(len(df_travel.PNR.unique()))

(134, 20)
25

In [9]:
# Assumption: Each PNR represent a trip which can have multiple smaller segments
trips = df_travel.PNR.unique().tolist()
print(trips)

[921597, 492751, 961754, 995277, 823594, 875677, 612481, 966615, 999160, 993257, 597788, 295064, 333260, 999890, 276662, 936809, 111318, 309555, 279194, 819915, 981010, 756904, 335664, 252241, 435290]

In [10]:
# Assumption: Data is clean and there are no issues
# aggregate total trip spend, total mile count, number of “valid” trips, distinct cities visited
df_agg = df_travel.groupby("PNR").agg({"PNR":"count",
                                       "fl_grfare_usd_am":"sum",
                                       "fl_mile_ct":"sum",
                                       "fl_valid_id":"count",
                                       "origination_city":"unique",
                                       "destination_city":"unique"
                                       })
# rename columns for better representation
df_agg.rename(columns={"fl_grfare_usd_am":"trip_spend",
                       "fl_mile_ct":"mile_count",
                       "fl_valid_id":"valid_trips",
                       "PNR":"trips"},
              inplace=True)
df_agg

,trips,trip_spend,mile_count,valid_trips,origination_city,destination_city
PNR,,,,,,
111318,4,2740.18,6081,4,"[PHX, SFO, LIH, LAX]","[SFO, LIH, LAX, PHX]"
252241,1,1472.43,2131,1,[EWR],[PHX]
276662,12,4432.92,17565,12,"[PHX, EWR, NYC, SEA, CLT, EYW]","[EWR, NYC, SEA, PHX, EYW, CLT]"
279194,5,2413.78,7889,5,"[PHX, SEA, WAS]","[SEA, WAS, BNA, PHX]"
295064,1,10966.53,5279,1,[LON],[PHX]
309555,4,12404.17,18898,4,"[EWR, PHX, DEL]","[DEL, EWR, PHX]"
333260,4,1773.44,3836,4,"[PHX, MSY, SFO]","[SFO, PHX]"
335664,4,10640.98,12991,4,"[PHX, LON, EWR]","[LON, EWR, NYC, PHX]"
435290,4,1208.90,6080,4,"[PHX, MIA]","[MIA, BDA]"
492751,3,689.60,906,3,"[PHX, SAN]","[SAN, PHX]"
597788,2,594.10,638,2,[EDI],[LON]
612481,2,1375.90,4262,2,"[PHX, EWR]","[EWR, PHX]"
756904,2,1243.60,4598,2,"[PHX, BOS]","[BOS, PHX]"
819915,4,11867.13,11089,4,"[DEN, MUC, NCE, FRA]","[MUC, NCE, FRA, DEN]"
823594,4,11731.31,11159,4,[LON],"[PHX, DEN]"
875677,6,2372.64,11812,6,"[PHX, WAS]","[WAS, PHX]"
921597,4,1607.51,5780,4,"[PHX, MIA, PUJ]","[MIA, PUJ, PHX]"
936809,3,1983.02,3904,3,"[BDA, EWR, SJD]","[EWR, SJD, PHX]"
961754,5,4060.78,5465,5,"[PHX, MIA, NAS, ATL, MEX]","[MIA, NAS, ATL, MEX, PHX]"
966615,2,2328.10,4299,2,"[PHX, EWR]","[NYC, PHX]"
981010,2,9597.01,10558,2,"[PHX, LON]","[LON, PHX]"
993257,36,10273.99,99810,36,"[PHX, LON, AMS, EDI, NBO, MSY, DFW]","[LON, AMS, EDI, NBO, MSY, DFW, PHX]"
995277,16,16101.61,46814,16,"[DEN, PHX, LON, MAD]","[LON, DEN, MAD, PHX]"
999160,2,618.07,1282,2,"[PHX, SFO]","[SFO, PHX]"
999890,2,1238.04,3928,2,"[PHX, WAS]","[WAS, PHX]"

In [11]:
# Steps for creating unique travel locations
# 1. Append all the origination and destination cities
# 2. Remove duplicates and keep only unique values for cities
# 3. Count the number of cities in list
df_agg["cities_visited"] = df_agg[["origination_city","destination_city"]].apply(np.concatenate, axis=1).apply(np.unique)
df_agg["count_cities_visited"] = df_agg.cities_visited.apply(len)
df_agg.drop(columns=["origination_city","destination_city"],inplace=True)
df_agg

,trips,trip_spend,mile_count,valid_trips,cities_visited,count_cities_visited
PNR,,,,,,
111318,4,2740.18,6081,4,"[LAX, LIH, PHX, SFO]",4
252241,1,1472.43,2131,1,"[EWR, PHX]",2
276662,12,4432.92,17565,12,"[CLT, EWR, EYW, NYC, PHX, SEA]",6
279194,5,2413.78,7889,5,"[BNA, PHX, SEA, WAS]",4
295064,1,10966.53,5279,1,"[LON, PHX]",2
309555,4,12404.17,18898,4,"[DEL, EWR, PHX]",3
333260,4,1773.44,3836,4,"[MSY, PHX, SFO]",3
335664,4,10640.98,12991,4,"[EWR, LON, NYC, PHX]",4
435290,4,1208.90,6080,4,"[BDA, MIA, PHX]",3
492751,3,689.60,906,3,"[PHX, SAN]",2
597788,2,594.10,638,2,"[EDI, LON]",2
612481,2,1375.90,4262,2,"[EWR, PHX]",2
756904,2,1243.60,4598,2,"[BOS, PHX]",2
819915,4,11867.13,11089,4,"[DEN, FRA, MUC, NCE]",4
823594,4,11731.31,11159,4,"[DEN, LON, PHX]",3
875677,6,2372.64,11812,6,"[PHX, WAS]",2
921597,4,1607.51,5780,4,"[MIA, PHX, PUJ]",3
936809,3,1983.02,3904,3,"[BDA, EWR, PHX, SJD]",4
961754,5,4060.78,5465,5,"[ATL, MEX, MIA, NAS, PHX]",5
966615,2,2328.10,4299,2,"[EWR, NYC, PHX]",3
981010,2,9597.01,10558,2,"[LON, PHX]",2
993257,36,10273.99,99810,36,"[AMS, DFW, EDI, LON, MSY, NBO, PHX]",7
995277,16,16101.61,46814,16,"[DEN, LON, MAD, PHX]",4
999160,2,618.07,1282,2,"[PHX, SFO]",2
999890,2,1238.04,3928,2,"[PHX, WAS]",2

In [12]:
# Alternate Method: Assuming that only trips with fl_valid_id set as 1 is valid trip and apply aggregation on only those
df_travel_valid = df_travel[df_travel.fl_valid_id == 1]
print(f"shape {df_travel_valid.shape}") # apply agg as in above cell

df_agg_valid = df_travel_valid.groupby("PNR").agg({
                                       "fl_grfare_usd_am":"sum",
                                       "fl_mile_ct":"sum",
                                       "fl_valid_id":"count",
                                       "origination_city":"unique",
                                       "destination_city":"unique"
                                       })
# rename columns for better representation
df_agg_valid.rename(columns={"fl_grfare_usd_am":"trip_spend",
                       "fl_mile_ct":"mile_count",
                       "fl_valid_id":"valid_trips",
                       },
              inplace=True)
df_agg_valid

shape (82, 20)

,trip_spend,mile_count,valid_trips,origination_city,destination_city
PNR,,,,,
111318,2740.18,6081,4,"[PHX, SFO, LIH, LAX]","[SFO, LIH, LAX, PHX]"
252241,1472.43,2131,1,[EWR],[PHX]
276662,2848.88,8863,5,"[PHX, NYC, EWR, EYW]","[NYC, PHX, EYW, EWR]"
279194,2112.04,5395,3,"[PHX, SEA, WAS]","[SEA, WAS, PHX]"
295064,10966.53,5279,1,[LON],[PHX]
309555,12404.17,18898,4,"[EWR, PHX, DEL]","[DEL, EWR, PHX]"
333260,1773.44,2554,2,"[MSY, SFO]","[SFO, PHX]"
335664,10640.98,12991,4,"[PHX, LON, EWR]","[LON, EWR, NYC, PHX]"
435290,1109.90,3040,2,"[PHX, MIA]","[MIA, BDA]"
492751,505.30,604,2,"[PHX, SAN]","[SAN, PHX]"
597788,594.10,638,2,[EDI],[LON]
612481,1375.90,4262,2,"[PHX, EWR]","[EWR, PHX]"
756904,1243.60,4598,2,"[PHX, BOS]","[BOS, PHX]"
819915,11867.13,11089,4,"[DEN, MUC, NCE, FRA]","[MUC, NCE, FRA, DEN]"
823594,11500.01,5279,1,[LON],[PHX]
875677,2372.64,7884,4,"[PHX, WAS]","[WAS, PHX]"
921597,1607.51,5780,4,"[PHX, MIA, PUJ]","[MIA, PUJ, PHX]"
936809,1983.02,3904,3,"[BDA, EWR, SJD]","[EWR, SJD, PHX]"
961754,4060.78,5465,5,"[PHX, MIA, NAS, ATL, MEX]","[MIA, NAS, ATL, MEX, PHX]"
966615,2328.10,4299,2,"[PHX, EWR]","[NYC, PHX]"
981010,9597.01,10558,2,"[PHX, LON]","[LON, PHX]"
993257,8010.41,39404,13,"[PHX, LON, AMS, NBO, MSY, DFW]","[LON, AMS, EDI, NBO, MSY, DFW, PHX]"
995277,14979.61,17365,6,"[DEN, PHX, LON, MAD]","[LON, DEN, MAD, PHX]"
999160,618.07,1282,2,"[PHX, SFO]","[SFO, PHX]"
999890,1238.04,3928,2,"[PHX, WAS]","[WAS, PHX]"

In [13]:
# Check for non positive amount
df_travel_valid[df_travel_valid.fl_grfare_usd_am <= 0]
# Zero valued trips can be potentail invalid trips
# Can remove these while calculating average spend and miles

,PNR,origination_city,destination_city,orig_city_cd,dest_city_cd,origination_lat,origination_lon,destination_lat,destination_lon,fl_grfare_usd_am,fl_valid_id,fl_mile_ct,fl_cost_per_mile_usd_am,carry_a2_cd,fl_no,seg_arr_local_time,seg_dprt_local_time,seg_arr_utc_time,seg_dprt_utc_time,trip_time
45,993257,PHX,LON,PHX,LHR,33.435036,-112.000164,51.469603,-0.453566,0.0,1,5279,0.0,AA,6191,2018-09-18 13:40:00,2018-09-17 19:45:00,2018-09-18 20:40:00,2018-09-17 19:45:00,83100
51,993257,LON,EDI,LHR,EDI,51.469603,-0.453566,55.948143,-3.364177,0.0,1,319,0.0,AA,6489,2018-09-18 16:55:00,2018-09-18 15:30:00,2018-09-18 16:55:00,2018-09-18 15:30:00,81300
59,993257,LON,NBO,LHR,NBO,51.469603,-0.453566,-1.319167,36.925781,0.0,1,4214,0.0,BA,65,2018-09-22 21:00:00,2018-09-22 10:25:00,2018-09-22 21:00:00,2018-09-22 07:25:00,37500
64,993257,NBO,LON,NBO,LHR,-1.319167,36.925781,51.469603,-0.453566,0.0,1,4214,0.0,BA,64,2018-10-10 06:20:00,2018-10-09 23:35:00,2018-10-10 03:20:00,2018-10-09 23:35:00,72900
68,993257,LON,MSY,LHR,MSY,51.469603,-0.453566,29.984564,-90.256391,0.0,1,4645,0.0,AA,6184,2018-10-10 19:35:00,2018-10-10 15:40:00,2018-10-10 19:35:00,2018-10-10 21:40:00,7500
75,993257,MSY,DFW,MSY,DFW,29.984564,-90.256391,32.843909,-96.850002,0.0,1,454,0.0,AA,1491,2018-10-12 11:18:00,2018-10-12 09:36:00,2018-10-12 17:18:00,2018-10-12 15:36:00,80280
79,993257,DFW,PHX,DFW,PHX,32.843909,-96.850002,33.435036,-112.000164,0.0,1,869,0.0,AA,407,2018-10-12 12:48:00,2018-10-12 12:20:00,2018-10-12 18:48:00,2018-10-12 19:20:00,1920

In [14]:
df_travel_valid.carry_a2_cd.value_counts()

AA    35
UA    30
BA    13
DL     2
BE     1
AS     1
Name: carry_a2_cd, dtype: int64

In [15]:
df_travel_valid[df_travel_valid.PNR == 993257].shape

(13, 20)

In [16]:
df_travel_valid[df_travel_valid.PNR == 993257][["origination_city","destination_city","trip_time","fl_valid_id"]]

   origination_city destination_city  trip_time  fl_valid_id
44              PHX              LON      83100            1
45              PHX              LON      83100            1
50              LON              AMS      74400            1
51              LON              EDI      81300            1
55              AMS              LON       2700            1
59              LON              NBO      37500            1
63              LON              NBO      37500            1
64              NBO              LON      72900            1
68              LON              MSY       7500            1
75              MSY              DFW      80280            1
79              DFW              PHX       1920            1
83              NBO              LON      72900            1
86              LON              PHX      15000            1

In [17]:
display_col = ["origination_city","destination_city","orig_city_cd","dest_city_cd"] + date_fields 
df_travel_valid[(df_travel_valid.PNR == 993257) & (df_travel_valid.fl_valid_id == 1)]\
.sort_values(['seg_dprt_local_time'],ascending=True)[display_col]

,origination_city,destination_city,orig_city_cd,dest_city_cd,seg_arr_local_time,seg_dprt_local_time,seg_arr_utc_time,seg_dprt_utc_time
44,PHX,LON,PHX,LHR,2018-09-18 13:40:00,2018-09-17 19:45:00,2018-09-18 20:40:00,2018-09-17 19:45:00
45,PHX,LON,PHX,LHR,2018-09-18 13:40:00,2018-09-17 19:45:00,2018-09-18 20:40:00,2018-09-17 19:45:00
51,LON,EDI,LHR,EDI,2018-09-18 16:55:00,2018-09-18 15:30:00,2018-09-18 16:55:00,2018-09-18 15:30:00
50,LON,AMS,LHR,AMS,2018-09-18 18:35:00,2018-09-18 16:15:00,2018-09-18 18:35:00,2018-09-18 15:15:00
55,AMS,LON,AMS,LHR,2018-09-19 18:05:00,2018-09-19 17:50:00,2018-09-19 17:05:00,2018-09-19 17:50:00
59,LON,NBO,LHR,NBO,2018-09-22 21:00:00,2018-09-22 10:25:00,2018-09-22 21:00:00,2018-09-22 07:25:00
63,LON,NBO,LHR,NBO,2018-09-22 21:00:00,2018-09-22 10:25:00,2018-09-22 21:00:00,2018-09-22 07:25:00
64,NBO,LON,NBO,LHR,2018-10-10 06:20:00,2018-10-09 23:35:00,2018-10-10 03:20:00,2018-10-09 23:35:00
68,LON,MSY,LHR,MSY,2018-10-10 19:35:00,2018-10-10 15:40:00,2018-10-10 19:35:00,2018-10-10 21:40:00
75,MSY,DFW,MSY,DFW,2018-10-12 11:18:00,2018-10-12 09:36:00,2018-10-12 17:18:00,2018-10-12 15:36:00
79,DFW,PHX,DFW,PHX,2018-10-12 12:48:00,2018-10-12 12:20:00,2018-10-12 18:48:00,2018-10-12 19:20:00
83,NBO,LON,NBO,LHR,2018-10-13 06:20:00,2018-10-12 23:35:00,2018-10-13 03:20:00,2018-10-12 23:35:00
86,LON,PHX,LHR,PHX,2018-10-13 17:35:00,2018-10-13 14:45:00,2018-10-13 17:35:00,2018-10-13 21:45:00

In [18]:
l1 = set(df_travel_valid.origination_city.unique())
print(l1)

{'NAS', 'NYC', 'NBO', 'SFO', 'MEX', 'BDA', 'FRA', 'DEN', 'WAS', 'MAD', 'EWR', 'BOS', 'SEA', 'LIH', 'LON', 'SJD', 'PUJ', 'SAN', 'NCE', 'LAX', 'MIA', 'EYW', 'PHX', 'AMS', 'MUC', 'MSY', 'DFW', 'EDI', 'ATL', 'DEL'}

In [19]:
l2  = set(df_travel_valid.orig_city_cd.unique())
print(l2)

{'NAS', 'NBO', 'SFO', 'MEX', 'BDA', 'FRA', 'DEN', 'MAD', 'EWR', 'IAD', 'BOS', 'SEA', 'DCA', 'LIH', 'LHR', 'SJD', 'PUJ', 'SAN', 'NCE', 'LAX', 'MIA', 'EYW', 'PHX', 'AMS', 'MUC', 'MSY', 'DFW', 'EDI', 'JFK', 'ATL', 'DEL'}

In [20]:
l1.difference(l2)

{'LON', 'NYC', 'WAS'}

In [21]:
l2.difference(l1)

{'DCA', 'IAD', 'JFK', 'LHR'}

In [22]:
df_travel_valid[df_travel_valid.origination_city.isin(list(l1.difference(l2)))][["origination_city","orig_city_cd"]].groupby("origination_city").agg({"orig_city_cd":np.unique})
# orig city cd are

                 orig_city_cd
origination_city
LON                       LHR
NYC                       JFK
WAS                [DCA, IAD]

In [23]:
df_travel_valid.sort_values(["PNR","seg_dprt_utc_time"])

,PNR,origination_city,destination_city,orig_city_cd,dest_city_cd,origination_lat,origination_lon,destination_lat,destination_lon,fl_grfare_usd_am,fl_valid_id,fl_mile_ct,fl_cost_per_mile_usd_am,carry_a2_cd,fl_no,seg_arr_local_time,seg_dprt_local_time,seg_arr_utc_time,seg_dprt_utc_time,trip_time
104,111318,PHX,SFO,PHX,SFO,33.435036,-112.000164,37.615215,-122.389881,283.67,1,641,0.44,UA,5902,2018-08-09 15:26:00,2018-08-09 13:20:00,2018-08-09 22:26:00,2018-08-09 21:20:00,82440
105,111318,SFO,LIH,SFO,LIH,37.615215,-122.389881,21.978204,-159.349445,1086.42,1,2455,0.44,UA,1684,2018-08-09 20:09:00,2018-08-09 17:33:00,2018-08-10 04:09:00,2018-08-10 03:33:00,84240
106,111318,LIH,LAX,LIH,LAX,21.978204,-159.349445,33.943399,-118.408279,1199.81,1,2614,0.45,UA,466,2018-08-13 21:29:00,2018-08-13 13:02:00,2018-08-14 07:29:00,2018-08-13 21:02:00,48780
107,111318,LAX,PHX,LAX,PHX,33.943399,-118.408279,33.435036,-112.000164,170.28,1,371,0.45,UA,5663,2018-08-14 00:12:00,2018-08-13 22:40:00,2018-08-14 08:12:00,2018-08-14 05:40:00,77280
128,252241,EWR,PHX,EWR,PHX,40.689071,-74.178753,33.435036,-112.000164,1472.43,1,2131,0.69,UA,1611,2018-03-29 22:36:00,2018-03-29 19:55:00,2018-03-30 03:36:00,2018-03-30 02:55:00,83940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,995277,LON,PHX,LHR,PHX,51.469603,-0.453566,33.435036,-112.000164,3544.54,1,5279,0.67,BA,291,2018-04-13 15:00:00,2018-04-13 12:15:00,2018-04-13 15:00:00,2018-04-13 19:15:00,15300
42,999160,PHX,SFO,PHX,SFO,33.435036,-112.000164,37.615215,-122.389881,382.32,1,641,0.59,AA,1844,2018-08-15 12:37:00,2018-08-15 10:24:00,2018-08-15 19:37:00,2018-08-15 18:24:00,82020
43,999160,SFO,PHX,SFO,PHX,37.615215,-122.389881,33.435036,-112.000164,235.75,1,641,0.36,AA,1037,2018-08-16 19:12:00,2018-08-16 17:07:00,2018-08-17 03:12:00,2018-08-17 00:07:00,75300
87,999890,PHX,WAS,PHX,IAD,33.435036,-112.000164,38.953150,-77.447735,619.01,1,1964,0.31,UA,316,2018-12-20 15:45:00,2018-12-20 09:30:00,2018-12-20 22:45:00,2018-12-20 14:30:00,56700
88,999890,WAS,PHX,IAD,PHX,38.953150,-77.447735,33.435036,-112.000164,619.03,1,1964,0.31,UA,939,2018-12-26 20:00:00,2018-12-26 17:05:00,2018-12-27 01:00:00,2018-12-27 00:05:00,83100

In [24]:
df_way = df_travel_valid.sort_values(["PNR","seg_dprt_utc_time"]).groupby("PNR")\
               .agg({"origination_city":list,
                     "destination_city":list,
                     "PNR":"count"}).rename(columns={"PNR":"trip_segments"})
df_way

,origination_city,destination_city,trip_segments
PNR,,,
111318,"[PHX, SFO, LIH, LAX]","[SFO, LIH, LAX, PHX]",4
252241,[EWR],[PHX],1
276662,"[PHX, NYC, EWR, EYW, EWR]","[NYC, PHX, EYW, EWR, PHX]",5
279194,"[PHX, SEA, WAS]","[SEA, WAS, PHX]",3
295064,[LON],[PHX],1
309555,"[EWR, PHX, DEL, EWR]","[DEL, EWR, EWR, PHX]",4
333260,"[MSY, SFO]","[SFO, PHX]",2
335664,"[PHX, PHX, LON, EWR]","[LON, EWR, NYC, PHX]",4
435290,"[PHX, MIA]","[MIA, BDA]",2
492751,"[PHX, SAN]","[SAN, PHX]",2
597788,"[EDI, EDI]","[LON, LON]",2
612481,"[PHX, EWR]","[EWR, PHX]",2
756904,"[PHX, BOS]","[BOS, PHX]",2
819915,"[DEN, MUC, NCE, FRA]","[MUC, NCE, FRA, DEN]",4
823594,[LON],[PHX],1
875677,"[PHX, PHX, WAS, WAS]","[WAS, WAS, PHX, PHX]",4
921597,"[PHX, MIA, PUJ, MIA]","[MIA, PUJ, MIA, PHX]",4
936809,"[BDA, EWR, SJD]","[EWR, SJD, PHX]",3
961754,"[PHX, MIA, NAS, ATL, MEX]","[MIA, NAS, ATL, MEX, PHX]",5
966615,"[PHX, EWR]","[NYC, PHX]",2
981010,"[PHX, LON]","[LON, PHX]",2
993257,"[PHX, PHX, LON, LON, AMS, LON, LON, NBO, LON, ...","[LON, LON, AMS, EDI, LON, NBO, NBO, LON, MSY, ...",13
995277,"[DEN, PHX, PHX, LON, MAD, LON]","[LON, LON, DEN, MAD, LON, PHX]",6
999160,"[PHX, SFO]","[SFO, PHX]",2
999890,"[PHX, WAS]","[WAS, PHX]",2

In [25]:
# identify origin and destination 
# Rule 1: If there is only one travel for PNR - one way flight
df_way.loc[df_way.trip_segments == 1,"trip"] = "one_way"
df_way

,origination_city,destination_city,trip_segments,trip
PNR,,,,
111318,"[PHX, SFO, LIH, LAX]","[SFO, LIH, LAX, PHX]",4,NaN
252241,[EWR],[PHX],1,one_way
276662,"[PHX, NYC, EWR, EYW, EWR]","[NYC, PHX, EYW, EWR, PHX]",5,NaN
279194,"[PHX, SEA, WAS]","[SEA, WAS, PHX]",3,NaN
295064,[LON],[PHX],1,one_way
309555,"[EWR, PHX, DEL, EWR]","[DEL, EWR, EWR, PHX]",4,NaN
333260,"[MSY, SFO]","[SFO, PHX]",2,NaN
335664,"[PHX, PHX, LON, EWR]","[LON, EWR, NYC, PHX]",4,NaN
435290,"[PHX, MIA]","[MIA, BDA]",2,NaN
492751,"[PHX, SAN]","[SAN, PHX]",2,NaN
597788,"[EDI, EDI]","[LON, LON]",2,NaN
612481,"[PHX, EWR]","[EWR, PHX]",2,NaN
756904,"[PHX, BOS]","[BOS, PHX]",2,NaN
819915,"[DEN, MUC, NCE, FRA]","[MUC, NCE, FRA, DEN]",4,NaN
823594,[LON],[PHX],1,one_way
875677,"[PHX, PHX, WAS, WAS]","[WAS, WAS, PHX, PHX]",4,NaN
921597,"[PHX, MIA, PUJ, MIA]","[MIA, PUJ, MIA, PHX]",4,NaN
936809,"[BDA, EWR, SJD]","[EWR, SJD, PHX]",3,NaN
961754,"[PHX, MIA, NAS, ATL, MEX]","[MIA, NAS, ATL, MEX, PHX]",5,NaN
966615,"[PHX, EWR]","[NYC, PHX]",2,NaN
981010,"[PHX, LON]","[LON, PHX]",2,NaN
993257,"[PHX, PHX, LON, LON, AMS, LON, LON, NBO, LON, ...","[LON, LON, AMS, EDI, LON, NBO, NBO, LON, MSY, ...",13,NaN
995277,"[DEN, PHX, PHX, LON, MAD, LON]","[LON, LON, DEN, MAD, LON, PHX]",6,NaN
999160,"[PHX, SFO]","[SFO, PHX]",2,NaN
999890,"[PHX, WAS]","[WAS, PHX]",2,NaN

In [26]:
# Rule 2: 
# Sort the trip based on departures for each trip (PNR). 
# If origination city of first segment is same as desitination city of last segment we can assume it to be a round trip
# Rule 3
# Remaining can be put to one way trip. 
# Caveat: there can be a round trip in sub segements or due to invalid trips

df_way.loc[df_way.apply(lambda x:x.origination_city[0] == x.destination_city[-1], axis=1), "trip"] = "round_trip"
df_way.fillna("one_way",inplace=True)
df_way

,origination_city,destination_city,trip_segments,trip
PNR,,,,
111318,"[PHX, SFO, LIH, LAX]","[SFO, LIH, LAX, PHX]",4,round_trip
252241,[EWR],[PHX],1,one_way
276662,"[PHX, NYC, EWR, EYW, EWR]","[NYC, PHX, EYW, EWR, PHX]",5,round_trip
279194,"[PHX, SEA, WAS]","[SEA, WAS, PHX]",3,round_trip
295064,[LON],[PHX],1,one_way
309555,"[EWR, PHX, DEL, EWR]","[DEL, EWR, EWR, PHX]",4,one_way
333260,"[MSY, SFO]","[SFO, PHX]",2,one_way
335664,"[PHX, PHX, LON, EWR]","[LON, EWR, NYC, PHX]",4,round_trip
435290,"[PHX, MIA]","[MIA, BDA]",2,one_way
492751,"[PHX, SAN]","[SAN, PHX]",2,round_trip
597788,"[EDI, EDI]","[LON, LON]",2,one_way
612481,"[PHX, EWR]","[EWR, PHX]",2,round_trip
756904,"[PHX, BOS]","[BOS, PHX]",2,round_trip
819915,"[DEN, MUC, NCE, FRA]","[MUC, NCE, FRA, DEN]",4,round_trip
823594,[LON],[PHX],1,one_way
875677,"[PHX, PHX, WAS, WAS]","[WAS, WAS, PHX, PHX]",4,round_trip
921597,"[PHX, MIA, PUJ, MIA]","[MIA, PUJ, MIA, PHX]",4,round_trip
936809,"[BDA, EWR, SJD]","[EWR, SJD, PHX]",3,one_way
961754,"[PHX, MIA, NAS, ATL, MEX]","[MIA, NAS, ATL, MEX, PHX]",5,round_trip
966615,"[PHX, EWR]","[NYC, PHX]",2,round_trip
981010,"[PHX, LON]","[LON, PHX]",2,round_trip
993257,"[PHX, PHX, LON, LON, AMS, LON, LON, NBO, LON, ...","[LON, LON, AMS, EDI, LON, NBO, NBO, LON, MSY, ...",13,round_trip
995277,"[DEN, PHX, PHX, LON, MAD, LON]","[LON, LON, DEN, MAD, LON, PHX]",6,one_way
999160,"[PHX, SFO]","[SFO, PHX]",2,round_trip
999890,"[PHX, WAS]","[WAS, PHX]",2,round_trip

In [27]:
df_agg_valid.columns, df_way.columns

(Index(['trip_spend', 'mile_count', 'valid_trips', 'origination_city',
        'destination_city'],
       dtype='object'),
 Index(['origination_city', 'destination_city', 'trip_segments', 'trip'], dtype='object'))

In [28]:
# Select and merge required columns
df_agg_valid = df_agg_valid[["trip_spend","mile_count","valid_trips"]].join(df_way[["trip","origination_city","destination_city"]])
df_agg_valid

,trip_spend,mile_count,valid_trips,trip,origination_city,destination_city
PNR,,,,,,
111318,2740.18,6081,4,round_trip,"[PHX, SFO, LIH, LAX]","[SFO, LIH, LAX, PHX]"
252241,1472.43,2131,1,one_way,[EWR],[PHX]
276662,2848.88,8863,5,round_trip,"[PHX, NYC, EWR, EYW, EWR]","[NYC, PHX, EYW, EWR, PHX]"
279194,2112.04,5395,3,round_trip,"[PHX, SEA, WAS]","[SEA, WAS, PHX]"
295064,10966.53,5279,1,one_way,[LON],[PHX]
309555,12404.17,18898,4,one_way,"[EWR, PHX, DEL, EWR]","[DEL, EWR, EWR, PHX]"
333260,1773.44,2554,2,one_way,"[MSY, SFO]","[SFO, PHX]"
335664,10640.98,12991,4,round_trip,"[PHX, PHX, LON, EWR]","[LON, EWR, NYC, PHX]"
435290,1109.90,3040,2,one_way,"[PHX, MIA]","[MIA, BDA]"
492751,505.30,604,2,round_trip,"[PHX, SAN]","[SAN, PHX]"
597788,594.10,638,2,one_way,"[EDI, EDI]","[LON, LON]"
612481,1375.90,4262,2,round_trip,"[PHX, EWR]","[EWR, PHX]"
756904,1243.60,4598,2,round_trip,"[PHX, BOS]","[BOS, PHX]"
819915,11867.13,11089,4,round_trip,"[DEN, MUC, NCE, FRA]","[MUC, NCE, FRA, DEN]"
823594,11500.01,5279,1,one_way,[LON],[PHX]
875677,2372.64,7884,4,round_trip,"[PHX, PHX, WAS, WAS]","[WAS, WAS, PHX, PHX]"
921597,1607.51,5780,4,round_trip,"[PHX, MIA, PUJ, MIA]","[MIA, PUJ, MIA, PHX]"
936809,1983.02,3904,3,one_way,"[BDA, EWR, SJD]","[EWR, SJD, PHX]"
961754,4060.78,5465,5,round_trip,"[PHX, MIA, NAS, ATL, MEX]","[MIA, NAS, ATL, MEX, PHX]"
966615,2328.10,4299,2,round_trip,"[PHX, EWR]","[NYC, PHX]"
981010,9597.01,10558,2,round_trip,"[PHX, LON]","[LON, PHX]"
993257,8010.41,39404,13,round_trip,"[PHX, PHX, LON, LON, AMS, LON, LON, NBO, LON, ...","[LON, LON, AMS, EDI, LON, NBO, NBO, LON, MSY, ..."
995277,14979.61,17365,6,one_way,"[DEN, PHX, PHX, LON, MAD, LON]","[LON, LON, DEN, MAD, LON, PHX]"
999160,618.07,1282,2,round_trip,"[PHX, SFO]","[SFO, PHX]"
999890,1238.04,3928,2,round_trip,"[PHX, WAS]","[WAS, PHX]"